---
layout: default
title: Peter的學習筆記與閱讀心得
---

<div class="row">
  <div class="col-left">
    <div class="posts">
      {% for post in site.posts %}
        <article class="post">
          <h2><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
          
          <div class="entry">
            {{ post.excerpt }}
          </div>
          
          <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">繼續閱讀</a>
          
          <p class="post-meta">
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %-d, %Y" }}</time>
            {% if post.author %}
              • <span>{{ post.author }}</span>
            {% endif %}
          </p>
        </article>
      {% endfor %}
    </div>
  </div>
  <div class="col-right">
    <h2>Tags</h2>
    <div class="tag-list">
      {% for tag in site.tags %}
        <a href="/tag.html?tag={{ tag[0] | url_encode }}" class="tag-list-item">
          {{ tag[0] }} ({{ tag[1].size }})
        </a>
      {% endfor %}
    </div>
  </div>
</div>