.row {
  display: flex;
  flex-wrap: wrap;
}

.col-left {
  flex: 0 0 70%;
  max-width: 70%;
  padding-right: 15px;
}

.col-right {
  flex: 0 0 30%;
  max-width: 30%;
  padding-left: 15px;
}

.tag-list {
  list-style: none;
  padding: 0;
}

.tag-list-item {
  display: inline-block;
  background-color: #333;
  color: #eee;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
  text-decoration: none;
}

.tag-list-item:hover {
  background-color: #555;
}

/* Responsive layout */
@media (max-width: 768px) {
  .col-left, .col-right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
}

header h1:before {
  content: none !important;
}

.post {
  background-color: #222222;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
}